/* General */
body{
    background-color: black;
    
}

html {
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, li, a {
    color: white;
}

/* Navigimi */
.navigation {
    max-width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
}

.navigation-links {
    display: flex;
    list-style: none;
}

.title {
    margin-left: 8em;
}

.icons {
    margin-right: 5em;
}


li {
    margin-left: 1em;
    margin-right: 1em;
    list-style-type: none;
}

li a {
    text-decoration: none;
    
}

/* Main */

.Triangle{
    position: absolute;
    width: 250px;
    bottom: 37em;
    right: 78em;
}

.Circle{
    position: absolute;
    width: 370px;
    bottom: 2em;
    right: 0em;
}

.Square{
    position: absolute;
    width: 330px;
    top: 28em;
    right: 73em;
}

.main1 {
    text-align: center;
}

.text-ngjyra {
  font-size: 50px;
  background: linear-gradient(to right, rgb(255, 28, 247),rgb(230, 80, 245),rgb(70, 210, 252), rgb(0, 240, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0; 
}

.all-main{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25em;
}

.all-main2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10em;
}

.text-pa-ngjyra {
    font-size: 50px;
    margin-top: 0; 
}

.main-text {
    margin: 0 auto;
    width: 50%;
}

.about-us {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.logo-h{
    position: absolute;
    width: 200px;
    top: 65em;
    right: 72em;
}

.logo-c{
    position: absolute;
    width: 200px;
    top: 98em;
    right: 55em;
}

.logo-j{
    position: absolute;
    width: 200px;
    top: 65em;
    right: 10em;
}

.tool{
    position: absolute;
    width: 200px;
    top: 98em;
    right: 27em; 
}

.uses{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-top: 8em;
    margin-bottom: 8em;
}

.footer{
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: #0B0B0A;
   
}

.footer-text{
    
}

.footer-form{
    background-color: #949493;
    padding: 0.5em 4em;
    margin: 2em;
    
}

.form-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}

.form-non-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-names{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.message{
    height: 11em;
}

.submit{
    height: 2.5em;
    width: 100%;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    color: white;
    background-color: #D4155B;
}

input{
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    height: 2em;
    background-color:#DBDBDA;
    color: white;
}

input, selext, textarea{
    color: black;
}
textarea, selext, textarea{
    color: black;
}

textarea{
    border-radius: 5px;
    background-color:#DBDBDA;
}

.get-in-contact{
    color: #D4155B;
}

.Contact-color{
    color: #D4155B 
}